/* *{
    font-family: 'Poppins', sans-serif;
} */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper{
    margin: 150px auto;
    width: 70%;
}

img{
    float: left;
    margin-right: 0px;
}